__pycache__
*.ipynb
**/.DS_Store
**/data/geopy/geopy_merged/geopy_merged.json
**/data/final.csv
**/data/incidents_cleaned.csv
**/TASK_1/checkpoints/checkpoint_7.csv
**/TASK_1/checkpoints/checkpoint_8.csv
**/TASK_1/checkpoints/checkpoint_9.csv